# General
.DS_Store
.vscode/
*.log
*.swp
*~
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
instance/
venv/
env/
ENV/
.env
.venv
*/activate_this.py
*/python
*/python.exe
*/python3
*/python3.exe
celerybeat-schedule
celerybeat.pid

# Rust
target/
Cargo.lock 